In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df_alpha08 = pd.read_csv('all_alpha_08.csv')
df_alpha18 = pd.read_csv('all_alpha_18.csv')

## Number of columns per dataset

In [3]:
print(f"{df_alpha18.shape[1]} columns in the alpha 18 dataframe")
print(f"{df_alpha08.shape[1]} columns in the alpha 08 dataframe")

18 columns in the alpha 18 dataframe
18 columns in the alpha 08 dataframe

## Number of records per dataset

In [4]:
print(f"{df_alpha18.shape[0]} columns in the alpha 18 dataframe")
print(f"{df_alpha08.shape[0]} columns in the alpha 08 dataframe")

1611 columns in the alpha 18 dataframe
2404 columns in the alpha 08 dataframe

## Number of duplicate rows

In [5]:
print(f"{df_alpha18.duplicated().sum()} duplicates in alpha 18 dataframe")
print(f"{df_alpha08.duplicated().sum()} duplicates in alpha 08 dataframe")

0 duplicates in alpha 18 dataframe
25 duplicates in alpha 08 dataframe

## Features with missing values

In [7]:
df_alpha18.isnull()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1607,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1608,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1609,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1610,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Non-null unique values

In [8]:
df_alpha08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [9]:
df_alpha18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

## Count of unique fuel types

In [10]:
print(f"{df_alpha18.nunique().count()} count of unique in alpha 18 dataframe")
print(f"{df_alpha08.nunique().count()} count of unique in alpha 08 dataframe")

18 count of unique in alpha 18 dataframe
18 count of unique in alpha 08 dataframe

## Drop unneeded columns

## Rename 'Sales Area' column in 2008 dataframe

In [11]:
df_alpha18

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1606,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0A70,standard SUV,5,22,28,24,5,No,365
1607,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,California LEV-III ULEV70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
1608,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,FA,T3B70,Federal Tier 3 Bin 70,JVVXJ02.0B70,standard SUV,5,20,27,23,5,No,394
1609,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,California LEV-III SULEV30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10,Elite,187
1610,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,T3B30,Federal Tier 3 Bin 30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10,Elite,187

In [19]:
df_alpha08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,FE_Calc_Appr,City_MPG,Hwy_MPG,Cmb_MPG,Unadj_Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [20]:
df_alpha18 = df_alpha18.rename(columns={'Cert_Region': 'Sales_Area'})
df_alpha18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay,Comb_CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [23]:
# df_alpha18 = df_alpha18.drop(columns=['Comb_CO2', 'SmartWay', 'Stnd_Description'])
# df_alpha08 = df_alpha08.drop(columns=['SmartWay', 'Unadj_Cmb_MPG', 'FE_Calc_Appr'])
df_alpha08 = df_alpha08.drop(columns=['FE_Calc_Appr'])

In [26]:
df_alpha08 = df_alpha08.drop(columns=['SmartWay', 'Unadj_Cmb_MPG'])

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Sales_Area, Stnd, Underhood_ID, Veh_Class, Air_Pollution_Score, City_MPG, Hwy_MPG, Cmb_MPG, Greenhouse_Gas_Score]
Index: []

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Sales_Area, Stnd, Underhood_ID, Veh_Class, Air_Pollution_Score, City_MPG, Hwy_MPG, Cmb_MPG, Greenhouse_Gas_Score]
Index: []

## Make more consistent column labels

In [ ]:
df_alpha18 = df_alpha18.rename(columns=lambda x:x.replace(' ', '_'))

In [ ]:
df_alpha08 = df_alpha08.rename(columns=lambda x:x.replace(' ', '_'))

# Compare columns names and make sure they're the same

In [31]:
df_alpha18.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,JHNXT03.5GV3,small SUV,3,20,28,23,5
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,JHNXT03.5GV3,small SUV,3,20,28,23,5
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,JHNXT03.5GV3,small SUV,3,19,27,22,4
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,JHNXT03.5GV3,small SUV,3,19,27,22,4
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6

In [30]:
df_alpha08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,15,20,17,4
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,15,20,17,4
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,17,22,19,5
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,17,22,19,5
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,16,24,19,5

# CHECKPOINT: SAVE EVERYTHING THUS FAR INTO A DATAFRAME

In [32]:
df_alpha08.to_csv('df_alpha08.csv')
df_alpha08.to_csv('df_alpha08.csv')
print("saved")

saved

## Only return records with a 'CA' cert_region

In [58]:
df_alpha08.query("Sales_Area = CA")

ValueError: cannot assign without a target object

## Drop 'cert_region' column from each df, since our 'cert_region' is implied

## Drop records with missing values

In [39]:
df_alpha08 = df_alpha08.dropna(axis=0)
df_alpha18 = df_alpha18.dropna(axis=0)

# CHECKPOINT: SAVE EVERYTHING TO .CSV

In [ ]:
df_alpha08.to_csv('df_alpha08.csv')
df_alpha08.to_csv('df_alpha08.csv')
print("saved")

## Fix all datatypes

In [59]:
df_alpha08.dtypes

Model                    object
Displ                   float64
Cyl                       int32
Trans                    object
Drive                    object
Fuel                     object
Sales_Area               object
Stnd                     object
Underhood_ID             object
Veh_Class                object
Air_Pollution_Score      object
City_MPG                 object
Hwy_MPG                  object
Cmb_MPG                  object
Greenhouse_Gas_Score     object
dtype: object

In [60]:
df_alpha18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Sales_Area               object
Stnd                     object
Underhood_ID             object
Veh_Class                object
Air_Pollution_Score      object
City_MPG                 object
Hwy_MPG                  object
Cmb_MPG                  object
Greenhouse_Gas_Score     object
dtype: object

In [43]:
df_alpha08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,15,20,17,4

In [44]:
df_alpha18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,JHNXT03.5GV3,small SUV,3,20,28,23,5

In [36]:
df_alpha08.Cyl = df_alpha08.Cyl.str.extract('(\d+)')

In [50]:
# df_alpha08['Cyl'] = df_alpha08['Cyl'].astype(int)
# df_alpha08['Displ'] = df_alpha08['Displ'].astype(float)
# df_alpha08['Air_Pollution_Score'] = df_alpha08['Air_Pollution_Score'].astype(int)
# df_alpha08['City_MPG'] = df_alpha08['City_MPG'].astype(int)
# df_alpha08['Hwy_MPG'] = df_alpha08['Hwy_MPG'].astype(int)
# df_alpha08['Cmb_MPG'] = df_alpha08['Cmb_MPG'].astype(int)

ValueError: invalid literal for int() with base 10: '9.5'

In [ ]:
df_alpha08['Greenhouse_Gas_Score'] = df_alpha08['Greenhouse_Gas_Score'].astype(int)

In [53]:
df_alpha18['Air_Pollution_Score'] = df_alpha18['Air_Pollution_Score'].astype(object)
df_alpha18['Greenhouse_Gas_Score'] = df_alpha18['Greenhouse_Gas_Score'].astype(object)

C:\Users\guido\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\guido\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
df_alpha08['Cyl'] = df_alpha08['Cyl'].astype(float64)

NameError: name 'float64' is not defined

In [56]:
df_alpha18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Sales_Area               object
Stnd                     object
Underhood_ID             object
Veh_Class                object
Air_Pollution_Score      object
City_MPG                 object
Hwy_MPG                  object
Cmb_MPG                  object
Greenhouse_Gas_Score     object
dtype: object

# CHECKPOINT: SAVE EVERYTHING TO .CSV

## Change datatypes in 'air_pollution' column

## Find records with slashed '/' values and separate them into their own separate records

#### Select all rows with records of slashed values

### Repeat for 2018

## Gas/Gasoline?

## Fix `*_mpg, greenhouse_gas_score and air_pollution_score` datatypes

# CHECKPOINT: SAVE EVERYTHING

# Create visuals of findings

## Fix `greenhouse_gas_score, air_pollution_score` datatypes

## How many more car models use alternative fuels in 2018 as opposed to 2008?
* ### May need to Google the answer to find out which fuel types are considered 'alternative'

## How much has the average fuel economy improved since 2008?

## Which type of vehicle's fuel economy has improved the most since 2008?

#### (2008) Average fuel economy by vehicle type

#### (2018) Average fuel economy by vehicle type

## Which model has the highest `air_pollution_score` and fuel economy in 2008 and 2018? Compare them.